@import './reset.css';

// html .dark {
//   .uni-page-head {  
//         background-color: #1B1C1E;  
//         color: white;  
//     }  
// }

page,
#app {
  width: 100%;
  height: 100%;

  
}


/* #ifdef H5 */
*::-webkit-scrollbar {
  --at-apply: w0;
}
/* #endif */

